body {
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.paticka {
    background-color: #1d3b63;
    color: white;
    text-align: center;
}