body {
    color: #282425;
    background-color: #ffff;
    font-family: 'Maven Pro', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 80px;
    padding: 0 0 20px 260px;
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 30px;
}

h3 {
    font-size: 50px;
    margin-top: 170px;
    margin-bottom: 30px;
    padding: 30px 0 0 0;
}

h4 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.paticka {
    background-color: #1E5BAB;
    color: white;
    text-align: center;
    padding: 20px;
}
.obecne {
    padding-bottom: 0;
}

.fotogalerie-grafik,
.fotogalerie-kritik,
.fotogalerie-DIYer {
    width: 30%;
    margin: 8px;
}

.foto-grafik {
    width: 500px;
    float: left;
    margin: 0 50px 50px 0px;
}

.grafik h3,
.kritik h3,
.DIYer h3
.kontakt h3 {
    clear: both;
}

.foto-kritik,
.foto-DIYer {
    width: 500px;
    float: left;
    margin: 0 50px 50px 0;
}

.kritik h3 {
    clear: both;
}

.DIYer h3 {
    clear: both;
}

.foto-kontakt {
    width: 200px;
    border-radius: 50%;
    margin: 0 50px 30px 0;
    float: left;
}
.kontakt p {
    padding-right: 20%;
}

.grafik p,
.kritik p,
.DIYer p,
.obecne p {
    padding-right: 10%
}

ul {
    list-style: none;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: #1E5BAB;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    padding: 20px 120px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #F8F8F8;
}

section {
    padding: 80px 15%;
    overflow: auto;
}

.hlavicka {
    background-image: url(pictures/sekce_uvod/2.png);
    padding: 250px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.ikony {
    width: 80px;
    margin: 0 10px 50px 10px;
    float: left;
}

.ikony a {
    text-decoration: none;
}